<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 job-content">
      <h2><%= @job.title %></h2>
      <div class="content">
        <%= raw(@job.content) %>
      </div>
    </div>
  </div>
</div>