$yahei_font: 'Microsoft Yahei';

body {
  background-color: #000;
}

.content-wrap {
  padding-top: 20px;
  padding-bottom: -20px;
  background-color: #f7f7f7;
}

.top-bar {
  height: 38px;
  border-bottom: 3px #c3974d solid;
  background-color: #1e1e1e;
}

.footer {
  div {
    line-height: 28px;
  }
}

.logo {
  background-color: #fff;
  img {
    padding: 16px 0;
    width: 200px;
  }
}

.poster {
  img {
    border-bottom: 1px #757473 solid;
  }
}

.mt20 {
  margin-top: 20px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 20px;
  background-color: #333;
  li {
    margin: 0;
    border-left: 1px #eee solid;
    padding: 0;
    a {
      font-family: $yahei_font;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      &:hover {
        background-color: transparent !important;
        color: #aaa;
      }
    }
    &.actived {
      background-color: #000;
    }
    &.last {
      border-right: 1px #eee solid;
    }
  }
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.job-list {
  li {
    list-style: none;
    padding: 6px 0;
    a {
      color: #666;
    }
    .started-at {
      color: #666;
    }
  }
}

.job-content {
  h2 {
    margin-bottom: 20px;
    font-family: $yahei_font;
    font-size: 20px;
    font-weight: bold;
  }
  .content {
    padding: 20px;
    width: 100%;
    background-color: #fff;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li {
    padding: 0;
  }
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (min-width: 992px) {
  .navbar-nav > li {
    padding: 0 10px;
  }
}

@media (min-width: 1200px) {
  .navbar-nav > li {
    padding: 0 20px;
  }
}